/*Text Property*/
p{
    color: rgb(26, 234, 234);
    text-indent: 400px;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: dotted;
    text-transform: capitalize;
    font-weight: bold;
   /* font-display: fallback; */
}

h2{
    text-align: center;
    text-shadow: 10px 10px 4px rgb(17, 17, 218);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    font-style: oblique;
    font-variant: small-caps;
}

section{
    height:100vh;
    width: 100%;
   /* background-color: aquamarine; */
   /*b ackground: linear-gradient(red,pink,red); */
   /*background: radial-gradient(blue,black,red); */
   background-image: url(Buterfly.jpg);
   background-blend-mode: lighten;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;

}